.table {
  thead th {
      font-size: .65rem;
      padding-top: .75rem;
      padding-bottom: .75rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-bottom: 1px solid #e9ecef;
  }

  .thead-light th {
      color: #8898aa !important;
      border-color: #e9ecef !important;
      background-color: #f6f9fc !important;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(246,249,252,.3) !important;
}

.table-hover tbody tr:hover {
  color: #525f7f;
  background-color: #f6f9fc !important;
}

.card .table td, .card .table th {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.table.align-items-center td, .table.align-items-center th {
  vertical-align: middle;
}
.table-flush td, .table-flush th {
  border-right: 0;
  border-left: 0;
}
.table td, .table th {
  font-size: .8125rem;
  white-space: nowrap;
}
.table td, .table th {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef !important;
}

.form-control:focus {
  color: #5e6874 !important;
  border-color: #5e72e4 !important;
  outline: 0;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(50,50,9,0), 3px 4px 8px rgba(94,114,228,.1) !important;
}

.form-control-label {
  font-size: .875rem;
  font-weight: 600;
  color: #525f7f;
}